body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.header {
    height: 70px;
    line-height: 70px;
}

.header .logo {
    height: 70px;
    overflow: hidden;
}

.header .auth {
    height: 70px;
}

.navigation {
    background: #444D58;
}

.navigation ul li a {
    color: #BCC2CB;
}

.navigation ul li a:hover {
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
}
