body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.header {
    height: 70px;
    line-height: 70px;
}

.header .logo {
    height: 70px;
    width: 70px;
    overflow: hidden;
}

@media (min-width: @screen-sm-min) {
    .header .logo {
        width: 200px;
    }
}

@media (min-width: @screen-md-min) {
    .header .logo {

    }
}

@media (min-width: @screen-lg-min) {
    .header .logo {

    }
}

.header .auth {
    height: 70px;
}

.navigation {
    background: #444D58;
}

.navigation ul li a {
    color: #BCC2CB;
}

.navigation ul li a:hover {
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
}
