/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
    body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
    }

    .header {
        height: 70px;
        line-height: 70px;
    }

    .header .logo {
        height: 70px;
        width: 90px;
        overflow: hidden;
    }

    .header .auth {
        display: none;
        height: 70px;
        width: 150px;
        margin-top: 0px;
        margin-right: 0px;
    }

    .header .toggle-nav .icon-bar {
        background: #BCC2CB;
        color: #BCC2CB;
    }

    .navigation {
        background: #444D58;
    }

    .navigation ul li a {
        color: #BCC2CB;
    }

    .navigation ul li a:hover {
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.1);
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
    .header .logo {
        height: 70px;
        width: auto;
        overflow: hidden;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){

}
